/* R4M Custom Styles */

/* Custom pre-view settings */
div.js-snippets > figure{
    padding-right: 0.5rem;
    margin-bottom: 0.5rem;
}
div.js-snippets > figure > img{
    border-radius: 0.25rem;
}

/* Custom hover view settings */
.js-droppable > .js-snippet:hover > .js-delete-btn{
    display: block !important;
    z-index: 100;
}
.js-snippets{
    height: calc(100vh - 176px) !important;
}
.js-droppable{
    height: calc(100vh - 105px) !important;
}

/* Custom TailWindCss settings */
.h-fit-content{
    width: fit-content;
}
.cursor-grab{
    cursor: grab;
}

/* Custom outline settings */
a:focus,
p:focus,
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
button:focus,
select:focus,
textarea:focus,
input:focus {
    outline-width: 2px;
    outline-style: dashed !important;
    outline-color: #f19e0b !important;
}